{%  extends 'base.html.twig' %}

{%  block body %}
    <div class="container">
        <div class="row">
            {% for msg in app.session.flashBag.get('danger_info') %}
                <div class="alert alert-danger">
                    {{ msg }}
                </div>
            {%  endfor %}
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <p>Wpisz swój adres email na który zostanie przesłane nowe hasło.</p>
                {{ form_start(form) }}
                {{form_row(form._username,{ 'label': 'Email' } )}}

                <button type="submit" class="btn btn-success" formnovalidate>Wyślij</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}