<form class="user-type text-center">
        <label class="radio-inline"><input type="radio" value="1" name="user-type">Zawodnik</label>
        <label class="radio-inline"><input type="radio" value="2" name="user-type">Trener</label>
        <label class="radio-inline"><input type="radio" value="3" name="user-type">Kibic</label>
</form>
