/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/src/AppBundle/Controller/TestoweController.php
/.idea/
/web/img/user
/deploy.php
/selenium-server-standalone-3.8.1.jar
/.php_cs.cache
web/app_dev.php
web/app_test.php
/QualityAnalyzer
/data
/.env