cache:
    directories:
        - $HOME/.composer

language: php
php:
    - 7.3

install:
    - composer install
#    - make setup-project

script:
    - composer validate || return 0 # TODO: fix warnings
    - composer normalize --dry-run
#    - docker-compose exec php vendor/bin/phpunit
