{% extends 'base.html.twig' %}

{% block title %} {{ user.name }} {{ user.surname }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include '_messages/success.html.twig' %}

            <div class="col-xs-12 col-sm-6">
                {% include 'user/fighter/_profile.html.twig' %}
            </div>

            <div class="col-xs-12 col-sm-6">
            {% include ':user/fighter:_record_table.html.twig' %}
            </div>

        </div>
    </div>
{% endblock %}