app:
    resource: "@AppBundle/Controller/"
    type:     annotation

fos_js_routing:
    resource: "@FOSJsRoutingBundle/Resources/config/routing/routing-sf4.xml"

api_fight_create:
    path:     /api/fights
    controller: AppBundle\Controller\Api\FightController::create
    condition: 'request.isXmlHttpRequest()'
    methods: POST

api_fight_show:
    path:     /api/fights/{id}
    controller: AppBundle\Controller\Api\FightController::show
    condition: 'request.isXmlHttpRequest()'
    methods: GET
    requirements:
            id: '\d+'

api_fight_delete:
    path:     /api/fights/{id}
    controller: AppBundle\Controller\Api\FightController::delete
    condition: 'request.isXmlHttpRequest()'
    options:
        expose: true
    methods: DELETE
    requirements:
        id: '\d+'

api_fight_list:
    path:     /api/fights
    controller: AppBundle\Controller\Api\FightController::list
    condition: 'request.isXmlHttpRequest()'
    methods: GET
    requirements:
        id: '\d+'

api_signup_show:
    path:     /api/zapisy/{id}
    controller: AppBundle\Controller\Api\TournamentSignUpController::show
    condition: 'request.isXmlHttpRequest()'
    requirements:
            id: '\d+'

api_signup_list:
    path:     /api/tournaments/{id}/signups
    controller: AppBundle\Controller\Api\TournamentSignUpController::list
    methods: GET
    condition: 'request.isXmlHttpRequest()'
    requirements:
        id: '\d+'

api_signup_list_not_pair:
    path:     /api/tournaments/{id}/signups-not-pair
    controller: AppBundle\Controller\Api\TournamentSignUpController::listNotPair
    methods: GET
    condition: 'request.isXmlHttpRequest()'
    requirements:
        id: '\d+'

api_signup_create:
    path:     /api/signups
    controller: AppBundle\Controller\Api\TournamentSignUpController::create
    condition: 'request.isXmlHttpRequest()'
    methods: POST

api_signup_update:
    path:     /api/signups/{id}
    controller: AppBundle\Controller\Api\TournamentSignUpController::update
    condition: 'request.isXmlHttpRequest()'
    methods: PATCH
    options:
        expose: true
    requirements:
        id: '\d+'

api_signup_delete:
    path:     /api/signups/{id}
    controller: AppBundle\Controller\Api\TournamentSignUpController::delete
    condition: 'request.isXmlHttpRequest()'
    requirements:
        id: '\d+'

api_signup_sparring_delete:
    path:     /api/sparrings-signups/{id}
    controller: AppBundle\Controller\Api\SignupSparringController::delete
    condition: 'request.isXmlHttpRequest()'
    requirements:
        id: '\d+'

api_club_list:
    path:     /api/clubs
    condition: 'request.isXmlHttpRequest()'
    controller: AppBundle\Controller\Api\ClubController::list
    methods: GET

api_tournament_show:
    path:     /api/tournaments/{id}
    condition: 'request.isXmlHttpRequest()'
    controller: AppBundle\Controller\Api\TournamentController::show
    methods: GET
    requirements:
        id: '\d+'

api_tournament_fight_list:
    path:     /api/tournaments/{id}/fights
    controller: AppBundle\Controller\Api\TournamentController::showFights
    condition: 'request.isXmlHttpRequest()'
    methods: GET
    requirements:
        id: '\d+'

api_user_show:
    path:     /api/users/{id}
    condition: 'request.isXmlHttpRequest()'
    controller: AppBundle\Controller\Api\UserController::show

api_image_upload:
    path:     /api/images
    controller: AppBundle\Controller\Api\ImageController::upload