app:
    resource: "@AppBundle/Controller/"
    type:     annotation

fos_js_routing:
    resource: "@FOSJsRoutingBundle/Resources/config/routing/routing.xml"

api_fight_show:
    path:     /api/fights/{id}
    controller: AppBundle\Controller\Api\FightController::show
    condition: 'request.isXmlHttpRequest()'
    methods: GET
    requirements:
            id: '\d+'

api_fight_list:
    path:     /api/fights
    controller: AppBundle\Controller\Api\FightController::list
    condition: 'request.isXmlHttpRequest()'
    methods: GET
    requirements:
        id: '\d+'

api_signup_show:
    path:     /api/zapisy/{id}
    controller: AppBundle\Controller\Api\SignUpController::show
    condition: 'request.isXmlHttpRequest()'
    requirements:
            id: '\d+'

api_signup_list:
    path:     /api/tournaments/{id}/signups
    controller: AppBundle\Controller\Api\SignUpController::list
    methods: GET
    condition: 'request.isXmlHttpRequest()'
    requirements:
        id: '\d+'

api_signup_list_not_pair:
    path:     /api/tournaments/{id}/signups-not-pair
    controller: AppBundle\Controller\Api\SignUpController::listNotPair
    methods: GET
#    condition: 'request.isXmlHttpRequest()'
    requirements:
        id: '\d+'

api_signup_create:
    path:     /api/signups
    controller: AppBundle\Controller\Api\SignUpController::create
    condition: 'request.isXmlHttpRequest()'

api_signup_delete:
    path:     /api/signups/{id}
    controller: AppBundle\Controller\Api\SignUpController::delete
    condition: 'request.isXmlHttpRequest()'
    requirements:
        id: '\d+'

api_club_list:
    path:     /api/clubs
    condition: 'request.isXmlHttpRequest()'
    controller: AppBundle\Controller\Api\ClubController::list
    methods: GET

api_tournament_show:
    path:     /api/tournaments/{id}
    condition: 'request.isXmlHttpRequest()'
    controller: AppBundle\Controller\Api\TournamentController::show
    methods: GET

api_tournament_fight_list:
    path:     /api/tournaments/{id}/fights
    controller: AppBundle\Controller\Api\TournamentController::showFights
    condition: 'request.isXmlHttpRequest()'
    methods: GET
    requirements:
        id: '\d+'

api_user_show:
    path:     /api/users/{id}
    condition: 'request.isXmlHttpRequest()'
    controller: AppBundle\Controller\Api\UserController::show

api_image_upload:
    path:     /api/images
    controller: AppBundle\Controller\Api\ImageController::upload