{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <h2>Zostań Sponsorem</h2>
                    kontakt: slawomir.grochowski@gmail.com


                <h2>Przekaż Darowiznę</h2>

                <div>
                    <strong>Bitcoin:</strong><br>
                1D8xeRkxssTTLESfGZtPVoqVJDq7MJSqNx
                </div>

                <div>
                <strong>Bank:</strong><br>
                Sławomir Grochowski<br>
                83 1320 1537 0406 0516 3000 0001<br>
                tytuł przelewu: (imię i nazwisko albo wybrany tekst do publikacji na stronie)<br>
                </div>

                <h2>Darczyńcy</h2>
                <table style="width:100%">
                    <tr>
                        <th>Imię i Nazwisko</th>
                        <th>Tytuł przelewu</th>
                        <th>Kwota (zł) </th>
                    </tr>
                    <tr>
                        <td>Tomasz Szulc</td>
                        <td>Popieram</td>
                        <td>10</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}








