.fa-trophy {
    color: gold;
}

.expand {
    cursor:pointer;
    text-decoration:underline;
}

.table-center{
    margin: 0 auto;
}

[class*='-dark'] {
    background-color:#02243C;
    color:#f0f0f0;
}

.youtube-icon {
    width: 22px;
    height:auto;
}

.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
    background-color: #11480e;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: grey;
}

.hide {
    display: none;
}
.show {
    display: block;
}

.select2-container--default{
    color: black;
}

.belt {
    width:30px;
    height:auto;
}

.logo {
    width:200px;
    height:200px;
}

.table.table-borderless td,
.table.table-borderless th {
    border-top: 0;
}
address {
    font-size: 200%;
    padding-top: 5%
}
.how-to ol>li {
    padding: 10px 0;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    /* Set the fixed height of the footer here */
    text-align: center;
}
.news  {
    padding: 0;
    margin: 0;
}

.well {
    margin-top:30px;
}

/****************** --new-- ************************************/

body {
    font-family: 'Ubuntu', sans-serif;
    color: #FBFBFB;
}
body, .well, .panel-body {
    background-color: #292727;
}
.panel-heading {
    background-color: #242222;
    border-color: #ddd;
}
p, p strong {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}
p strong {
    font-weight: 500;
}
a {
    color: #DA1D1D;
}
a:hover {
    color: #6d0e0e;
}

/*--base--*/

nav {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar {
    margin-bottom: 0;
}
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
.navbar-brand {
    height: auto;
    padding: 9px 10px;
    margin-top: 8px;
}
.dot-row, .navbar-toggle .icon-bar {
    font-size: 0;
}
.navbar-inverse .navbar-nav>.active>a {
    text-shadow: 1px 1px #9d9d9d;
}
.navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent;
}
.navbar-toggle .icon-bar {

    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 4px;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 0;
}
nav li, nav a {
    text-transform: uppercase;

    font-size: 25px;
    font-weight:300;
    line-height: 1.25;
}
nav .glyphicon {
    color: #DA1D1D;
    margin-right: 5px;
    font-size: 20px;;
}

/*--tournament navbar--*/
.navbar-admin {
    background-color: #242222;
}
.navbar-admin h1 {
    font-size: 48px;
    font-weight: 400;
    padding-bottom: 30px;
}

/*--homepage--*/

.wrapper {
    background-color: #242222;
    position: relative;
}
.wrapper * {
    padding: 0;
    margin: 0;
}
.wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
    height: 20px;
    background-color: #000000;
    opacity: .50;
    z-index: 1;
}



.info1, .info2, .info3 {
    position: relative;
}
.wrapper h1 {
    font-weight: 500;
    font-size: 48px;
}
.info1 span {
    line-height: 1.2;
}
.wrapper h1, .wrapper h2 {
    line-height: 1;
}
.info1 span, h2 {
    font-weight: 400;
    font-size: 32px;
}
.info2 span, .info3 span {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.25;
}
.info1 .text-field, .info2 .text-field, .info3 .text-field {
    position: absolute;
}
.info1 .text-field {
    top: 40px;
    left: 100px;
}
.info2 .text-field, .info3 .text-field {
    bottom: 20px;
    right: 40px;
}
.info1 .text-field:before {
    left: -60px;
    top: 0;
    background-color: #DA1D1D;
}
.info2 .text-field:after, .info3 .text-field:after {
    bottom: 3px;
    right: -40px;
    background-color: #FBFBFB;
}
.info1 .text-field:before, .info2 .text-field:after, .info3 .text-field:after {
    content: "";
    width: 20px;
    height: 42px;
    position: absolute;
}
.facebook a, .youtube a {
    color: #FBFBFB;
}
.facebook a:hover, .youtube a:hover {
    color: #DA1D1D;
}
.wrapper .fab {
    font-size: 133px;
    position: relative;
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
}

/*--show--*/

.tournament-data h3 {
    font-size: 32px;
    font-weight: 300;
}
.title {
    background-color: #242222;
    padding-bottom: 50px;
}
.date, .place {
    padding-top: 50px;
    padding-bottom: 50px;
}
.date>.row, .place>.row {
    padding-top: 50px;
}
.place h3:before, .hour:before, .address:before, .key-points h3:before {
    content: "";
    position: absolute;
}
.place h3:before {
    background-color: #FBFBFB;
    width: 20px;
    height: 42px;
    left: -10px;
}
.building {
    top: 16px;
}
.hour:before, .address:before {
    width: 3px;
    height: 50px;
    background-color: #DA1D1D;
    left: -1.5px;
    top: 10px;
}
.limits {
    padding-top: 25px;
    padding-bottom: 25px;
}
.limits h2 {
    font-size: 34px;
    color: #DA1D1D;
}
.key-points {
    background-color: #242222;
    padding-left: 100px;
}
.key-points h3 {
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
}
.key-points h3:before {
    width: 20px;
    height: 40px;
    background-color: #FBFBFB;
    left: -60px;
}
.key-points h4 {
    font-size: 24px;
    color: #DA1D1D;
    margin-left: 40px;
}
.key-points ul {
    padding-top: 25px;
    padding-bottom: 25px;
}
.key-points li {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 10px;
}

/*--contact--*/
.google-map {
    height: 45vh;
}

.team {
    margin-top: 2em;
}

.team .member {
    margin-bottom: 2em;
}

.team .member img {
    width: 100%;
    height: auto;
    
    border-radius: 50%;
    
    margin-bottom: 2em; 
}

/*--rules--*/
.rules h3 {
    display: inline-block;
}
.rules dl, .rules dd {
    margin-left: 40px;
}
.rules ol, .rules dl {
    counter-reset: item;
}
.rules ol>li {
    display: block;
}
.rules ol>li:before, .rules dl>dt:before {
    content: counters(item, ".");
    counter-increment: item;
    padding-right: 1em;
    font-weight: 400;
}

.rules ol.lower-latin {
    counter-reset: letter;
}
.rules ol.lower-latin>li::before {
    counter-increment: letter;
    content: counter(letter, lower-latin) ")";
}
.rules p {
    margin-top: 40px;
    font-size: 14px;
}

/*--error 404--*/
.error {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 75vh;
}
.error h1 {
    font-size: 50px;
    line-height: 1.5em;
    color: #DA1D1D;
    margin: 50px;
}
.error p {
    line-height: 2.25em;
}
.error p small {
    font-size: .75em;
}


/*--other--*/
.poster {
    padding-top: 25px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #242222;
}

select {
    color:black;
}
.success td {
    color: black;
}
a.deco-none {
    color: inherit;
    text-decoration:none;
}
.navbar .navbar-nav>.active>a {
    background-color: transparent;
}

.modal{
    color: black !important;
}