{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            {% include 'tournament/_parts/_tournaments.twig' with {tournaments : officialTournaments} %}
        </div>
    </div>
{% endblock %}
