{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12  col-md-10 col-md-offset-1 rules">

                <h1 class="text-center text-uppercase">Regulamin</h1>
                <ol>
                    <li>
                        <h3>Definicje pojęć użytych w regulaminie</h3>
                        <dl>
                            <dt>Administrator</dt>
                            <dd>podmiot zarządzający stroną internetową
                                fighterchamp.pl, świadczący Usługi za pośrednictwem Serwisu internetowego.
                            </dd>
                            <dt>Formularz rejestracyjny</dt>
                            <dd>formularz umożliwiający zarejestrowanie się
                                do Serwisu
                                internetowego, dostępny pod adresem fighterchamp.pl/rejestracja.
                            </dd>
                            <dt>Konto</dt>
                            <dd>indywidualnie oznaczone konto Użytkownika, utworzone za pomocą
                                Formularza
                                rejestracyjnego, do którego dostęp posiada Użytkownik po uprzednim zalogowaniu
                                tj.
                                podaniu adresu e-mail oraz hasła lub zalogowaniu za pośrednictwem konta na
                                portalu
                                facebook.com. Użytkownik każdorazowo po zalogowaniu do Konta może dokonać
                                modyfikacji
                                podanych danych.
                            </dd>
                            <dt>Organizator</dt>
                            <dd>osoba fizyczna, osoba prawna, jednostka organizacyjna
                                nieposiadająca
                                osobowości prawnej, której przepisy prawa nadają zdolność do czynności prawnych,
                                w pełni
                                odpowiedzialna za organizację oraz przebieg Turnieju.
                            </dd>
                            <dt>Regulamin</dt>
                            <dd>dokument określający warunki korzystania z Serwisu
                                internetowego, oraz prawa
                                i obowiązki Użytkownika, Organizatora oraz Administratora, dostępny pod adresem
                                fighterchamp.com/regulamin.
                            <dt>Regulamin Turnieju</dt>
                            <dd>warunki i zasady przystąpienia i zapisania się do
                                Turnieju
                                określone przez Organizatora, udostępnione przez Administratora w Serwisie
                                internetowym.
                            </dd>
                            <dt>Serwis internetowy</dt>
                            <dd>platforma internetowa, prowadzona za pośrednictwem
                                strony
                                internetowej fighterchamp.pl, umożliwiająca korzystanie z Usług świadczonych
                                przez
                                Administratora.
                            </dd>
                            <dt>Strony</dt>
                            <dd>Administrator i Użytkownik lub Administrator i Organizator.</dd>
                            <dt>Treść</dt>
                            <dd>treść zamieszczana przez Użytkownika na zindywidualizowanym
                                Koncie tj. dane
                                osobowe, zdjęcie, grafika lub inny utwór graficzny, które są następnie
                                wykorzystywane w
                                celu dokonania zapisu na Turniej.
                            </dd>
                            <dt>Turniej</dt>
                            <dd>wydarzenie sportowe, organizowane na warunkach i zasadach
                                Organizatora.
                                Informacje o trwających, zakończonych lub planowanych turniejach są dostępne pod
                                adresem
                                fighterchamp.pl/turnieje
                            </dd>
                            <dt>Użytkownik</dt>
                            <dd>osoba fizyczna, posiadająca pełną zdolność do czynności
                                prawnych, a także
                                osoba nieposiadająca pełnej zdolności do czynności prawnych, która uzyskała
                                zgodę od
                                swojego przedstawiciela ustawowego, działająca we własnym imieniu, korzystająca
                                z
                                zasobów Serwisu internetowego, w szczególności uprawniona do zapisywania się na
                                Turnieje
                                organizowane przez Organizatora.
                            </dd>
                            <dt>Umowa</dt>
                            <dd>umowa o świadczenie Usług drogą elektroniczną zawarta pomiędzy
                                Administratorem a
                                Użytkownikiem lub Administratorem a Organizatorem
                            </dd>
                            <dt>Usługi</dt>
                            <dd>usługi świadczone przez Administratora drogą elektroniczną,
                                zgodnie z
                                Regulaminem, w postaci udostępnia platformy internetowej za pośrednictwem
                                Serwisu
                                internetowego, umożliwiającej dobrowolne zapisywanie się na Turniej organizowany
                                przez
                                Organizatora.
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <h3>Postanowienia ogólne</h3>
                        <ol>
                            <li>Niniejszy Regulamin określa zasady korzystania z Serwisu internetowego dostępnego pod
                                adresem fighterchamp.pl.
                            </li>
                            <li>
                                Powyższy Regulamin jest regulaminem, o którym mowa w art. 8 ustawy z dnia 18 lipca 2002
                                r. o świadczeniu usług drogą elektroniczną (Dz. U. 2016 poz. 1030 z póź. zm.).
                            </li>
                            <li>Nazwa Serwisu internetowego, jego koncepcja, wygląd, oprogramowanie oraz baza danych, a
                                także elementy graficzne podlegają ochronie prawnej i nie mogą być wykorzystywane bez
                                uprzedniej zgody Administratora.
                            </li>
                            <li>Korzystanie z Serwisu internetowego oznacza wyrażenie przez Użytkownika zgody na warunki
                                określone w niniejszym Regulaminie.
                            </li>
                            <li>Administrator zastrzega prawo do ograniczenia dostępu do Usługi świadczonej za
                                pośrednictwem Serwisu internetowego dla Użytkowników, którzy spełnią określone kryteria.
                                Każdorazowo określenie kryteriów Użytkowników, które uprawnią Administratora do
                                ograniczenia dostępu do Usługi będą zamieszczane na stronie Serwisu internetowego.
                            </li>
                            <li>Świadczenie Usługi za pośrednictwem Serwisu internetowego ma charakter nieodpłatny.
                            </li>
                            <li>Administrator zastrzega prawo do zmiany funkcjonalności Serwisu internetowego w dowolnym
                                momencie.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h3>Zasady i warunki korzystania z serwisu internetowego</h3>
                        <ol>
                            <li>W ramach Serwisu internetowego Administrator zobowiązuje się do świadczenia Usługi
                                zgodnie z postanowieniami niniejszego Regulaminu.
                            </li>
                            <li>Zakres Usługi świadczonej przez Administratora obejmuje:
                                <ol class="lower-latin">
                                    <li>przechowywanie Treści podanych przez Użytkownika, które zostały przypisane do
                                        jego
                                        zindywidualizowanego Konta, w szczególności imię, nazwisko, data i rok urodzenia
                                        opcjonalnie nazwę klubu;
                                    </li>
                                    <li>zamieszczanie informacji w Serwisie internetowym przesłanych przez Organizatora
                                        o organizacji Turnieju;
                                    </li>
                                    <li>umożliwienie Użytkownikom zapisania się na Turniej organizowany przez
                                        Organizatora,
                                        wykorzystując w tym celu Treści o których mowa w pkt. a).
                                    </li>
                                </ol>
                            </li>
                            <li>Umowa o świadczenie usług drogą elektroniczną pomiędzy Administratorem a Użytkownikiem
                                jest zawarta w chwili utworzenia zindywidualizowanego Konta Użytkownika w Serwisie
                                internetowym.
                            </li>
                            <li>Warunkiem skorzystania z Usługi jest dokonanie poprawnej rejestracji w Serwisie
                                internetowym za pomocą Formularza rejestracyjnego, na skutek czego zostanie utworzone
                                zindywidualizowane Konto Użytkownika.
                            </li>
                            <li>W celu skorzystania z Usługi wymagane jest spełnienie poniższych warunków technicznych:
                                <ol class="lower-latin">
                                    <li>posiadania połączenia z siecią Internet;</li>
                                    <li>posiadania konta e-mail;</li>
                                    <li>używania przeglądarki internetowej z możliwością zapisywania plików cookies.
                                    </li>
                                </ol>
                            </li>
                            <li>Użytkownik zobowiązuje się przestrzegać warunków Regulaminu w trakcie korzystania z
                                Serwisu internetowego.
                            </li>
                            <li>Umowa o świadczenie Usług za pośrednictwem Serwisu internetowego zawierana jest na czas
                                nieoznaczony.
                            </li>
                            <li>Każda ze Stron jest uprawniona do rozwiązania Umowy bez podania przyczyny w trybie
                                natychmiastowym, bez okresu wypowiedzenia, po uprzednim poinformowaniu drugiej Strony
                                drogą elektroniczną.
                            </li>
                            <li>Administrator zobowiązuje się usunąć Konto Użytkownika, w ciągu 7 dni od dnia uzyskania
                                informacji o rozwiązaniu Umowy przez Użytkownika, przy czym poczytuje się, że Konto jest
                                nieaktywne od momentu poinformowania o rozwiązaniu Umowy.
                            </li>
                            <li>Użytkownik zobowiązuje się powstrzymać od wszelkich działań mogących zakłócić
                                funkcjonowanie Serwisu internetowego.
                            </li>
                            <li>Użytkownik w zakresie Treści zamieszczanych na Koncie:
                                <ul>
                                    <li>zobowiązuje się do podawania danych osobowych zgodnych z prawdą, dokładnych oraz
                                        aktualnych, niewprowadzających w błąd oraz nie naruszających praw osób trzecich;
                                    </li>
                                    <li>oświadcza, że posiada niezbędne prawa do korzystania, używania i dysponowania ze
                                        zdjęcia, grafiki lub innego utworu graficznego zamieszczonego przez Użytkownika.
                                    </li>
                                </ul>
                            </li>
                            <li>Użytkownik ponosi pełną odpowiedzialność za niewłaściwe używanie swojego Konta, w
                                szczególności za używanie go do zamieszczania treści sprzecznych z przepisami prawa,
                                zasadami współżycia społecznego oraz niniejszym Regulaminem.
                            </li>
                            <li>W celu dokonania zapisu na Turniej Użytkownik dokonuje zgłoszenia za pośrednictwem
                                Serwisu internetowego pod adresem fighterchamp.pl/turnieje, akceptując każdorazowo
                                Regulamin Turnieju.
                            </li>
                            <li>Administrator zastrzega prawo do odmowy zapisu lub wykreślenia zapisanego Użytkownika z
                                Turnieju za pośrednictwem Serwisu internetowego, jeżeli uzyska od Organizatora
                                informację, że dane personalne podane przez Użytkownika nie są prawdziwe lub naruszają
                                prawa osób trzecich.
                            </li>
                            <li>W celu zamieszczenia informacji o Turnieju w Serwisie internetowym Organizator
                                kontaktuje się z Administratorem.
                            </li>
                            <li>Umowa o świadczenie usług drogą elektroniczną pomiędzy Administratorem a Organizatorem
                                jest zawarta w momencie udostępnienia w Serwisie internetowym informacji o Turnieju
                                organizowanym przez Organizatora.
                            </li>
                            <li>Umowa o świadczenie Usług pomiędzy Administratorem a Organizatorem jest zawarta na czas
                                trwania Turnieju.
                            </li>
                            <li>Administrator zastrzega prawo do wcześniejszego wypowiedzenia Umowy Organizatorowi, w
                                przypadku naruszenia Regulaminu Turnieju przez Organizatora.
                            </li>
                            <li>Administrator udostępnia Organizatorowi niezbędną Treść Kont Użytkowników, którzy
                                zapisali się na Turniej, w szczególności dane osobowe umożliwiające weryfikację
                                zgłoszonych Użytkowników przez Organizatora.
                            </li>
                            <li>Administrator zastrzega, że nie jest odpowiedzialny za organizację oraz przebieg
                                Turnieju.
                            </li>
                            <li> Za wszelkie informacje dotyczące warunków i organizacji przebiegu Turnieju zamieszczone
                                w Serwisie internetowym odpowiada Organizator.
                            </li>
                            <li> Administrator zastrzega prawo do wystąpienia przerw w świadczeniu Usług oraz
                                funkcjonowaniu Serwisu internetowego w przypadku wystąpienia problemów technicznych.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h3>Ochrona danych osobowych oraz Polityka prywatności</h3>
                        <ol>
                            <li>Dane osobowe Użytkowników zamieszczane jako Treści na zindywidualizowanym Koncie, są
                                przetwarzane zgodnie z obowiązującymi przepisami prawa, w szczególności zgodnie z Ustawą
                                z dnia 29 sierpnia 1997 r. o Ochronie Danych Osobowych (Dz. U. 2016 poz. 922 z póź.
                                zm.).
                            </li>
                            <li>Dane o których mowa w art. 4.1. tj. imię, nazwisko, data oraz rok urodzenia oraz
                                opcjonalnie nazwa klubu, są przetwarzane w związku z organizacją oraz promocją Turnieju,
                                w szczególności w celu wyłonienia zwycięzców oraz przyznania nagród przez Organizatora.
                            </li>
                            <li>Każdy Użytkownik ma prawo do wglądu do Treści zamieszczonych na Koncie oraz ich
                                poprawienia.
                            </li>
                            <li>Przesłanie Treści przez Użytkownika na Konto ma charakter dobrowolny i nieodpłatny.
                            </li>
                            <li>Użytkownik wyraża zgodę na utrwalenie i wykorzystywanie swojego wizerunku na nośniku
                                cyfrowym w postaci zdjęć lub filmów. Powyższe materiały wykorzystywane będą do celów
                                szkoleniowych, promocyjnych oraz marketingowych.,
                            </li>
                            <li>Administrator zapewnia bezpieczeństwo danych osobowych Użytkowników.
                            </li>
                            <li>Administrator jest uprawniony do udostępnienia danych osobowych identyfikujących
                                Użytkownika jedynie podmiotom uprawnionym na podstawie obowiązujących przepisów prawa
                                np. policja, sąd.
                            </li>
                            <li>W przypadku korzystania z Serwisu internetowego w sposób niezgodny, naruszający
                                obowiązujące przepisy prawa lub prawa osób trzecich Administrator jest uprawniony do
                                wykorzystania danych identyfikujących Użytkownika w celu ustalenia jego
                                odpowiedzialności.
                            </li>
                            <li> Serwis internetowy wykorzystuje pliki cookies, które są niezbędne do prawidłowego
                                korzystania z Usług świadczonych przez Administratora.
                            </li>
                            <li>Pliki cookies są wykorzystywane do zapamiętywania danych niezbędnych do logowania
                                Użytkownika, lepszego dostosowania Serwisu internetowego do oczekiwań i potrzeb
                                Użytkownika, czy też tworzenie statystyk oglądalności. Warunkiem poprawnego działania
                                plików cookies jest ich akceptacja przez Użytkownika z poziomu używanej przeglądarki
                                internetowej.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h3>Przepisy końcowe</h3>
                        <ol>
                            <li>Niniejszy Regulamin obowiązuje od dnia ogłoszenia.
                            </li>
                            <li>Administrator zastrzega prawo do dokonania zmian w Regulaminie, o których poinformuje
                                Użytkowników oraz Organizatorów, jeżeli zmiany nastąpiły w trakcie trwania Turnieju..
                                Zmiany dokonane w Regulaminie wiążą Użytkowników oraz Organizatorów jeżeli nie
                                wypowiedzieli Umowy wciągu 7 dni od dnia ogłoszenia zmian w Regulaminie.
                            </li>
                            <li>Użytkownikowi oraz Organizatorowi przysługuje prawo do złożenia reklamacji
                                Administratorowi drogą elektroniczną. Administrator dołoży wszelkich starań aby
                                rozpatrzeć przedmiotową reklamację w ciągu 30 dni od dnia jej otrzymania. Decyzję w
                                sprawie rozstrzygnięcia reklamacji Administrator prześlę drogą elektroniczną na adres
                                e-mail wskazany w zgłoszeniu reklamacyjnym przez Użytkownika.
                            </li>
                            <li>Jeżeli jakiekolwiek postanowienie niniejszego Regulaminu zostanie uznane prawomocnym
                                orzeczeniem sądu za nieważne, pozostałe postanowienia pozostają w mocy.
                            </li>
                            <li>W sprawach nieobjętych niniejszym Regulaminem zastosowanie znajdują przepisy prawa
                                polskiego powszechnie obowiązującego.
                            </li>
                            <li> Wszelkie spory powstałe w związku z korzystaniem Serwisu internetowego oraz
                                świadczeniem Usług przez Administratora będą rozstrzygane przez sąd właściwy dla miejsca
                                zamieszkania Administratora.
                            </li>
                        </ol>
                    </li>
                </ol>
                <p class="text-right">
                    <small>Regulamin obowiązuje od 30.03.2017r.</small>
                </p>
            </div>
        </div>
    </div>
{% endblock %}