<ul>
    <li>
        <ul>Boks, K1 ProAm, MMA
            <li>
                3 rundy po 2min lub 3min
            </li>
        </ul>
    </li>
    <li>
        <ul>Karate Kyokushin - K2M
            <li>
                2 rundy po 2min (punktowana każda runda wygrany – przegrany w przypadku remisu dogrywka trzecia runda 1.5 min)
            </li>
        </ul>
    </li>
    <li>
        <ul>BJJ
            <li>
                1 runda 4-5 min
            </li>
        </ul>
    </li>
</ul>


