Organizator zapewnia rękawice oraz w przypadku walk juniorów kaski
<ul>
    <li>
        <ul>Boks
            <li>
                rękawice (10-12 oz do wagi 69kg i 12-14 oz powyżej 69 kg), owijki na ręce, kaski (dla juniorów nie  skończone 18 lat w dniu zawodów), szczęka, suspensor
            </li>
        </ul>
    </li>
    <li>
        <ul>K1 ProAm
            <li>
                Pro am (bez kolan na głowę, jedno kolano na tułów w akcji): rękawice (10-12 oz do wagi 69kg i 12-14 oz powyżej 69 kg),
                kaski (nie skończone 18 lat w dniu zawodów), owijki, suspensor,  szczęka, ochraniacze piszczeli, (sparing bez koszulki),
            </li>
        </ul>
    </li>
    <li>
        <ul>MMA
            <li>
                rekawice do MMA, szczęka, suspensor, ochraniacze piszczeli, (sparing bez koszulki)
            </li>
        </ul>
    </li>
    <li>
        <ul>Karate Kyokushin - K2M
            <li>
                szczęka, ochraniacze piszczeli, suspensor, pełne kimono, kaski (nie skończone 18 lat w dniu zawodów) </li>
        </ul>
    </li>
    <li>
        <ul>BJJ
            <li>
                GI lub NO GI, szczęka.
            </li>
        </ul>
    </li>
</ul>


