<div class="col-xs-12  col-md-10 col-md-offset-1">

    FEDERACJI LIGA K2M<br/>
    Aktualizacja REGULAMINU Kurpiowskiej Kuźni Mistrzów 01.10.2019<br/>
    <br/>
    Federacja KKM<br/>
    1. Rozwój sportowy - zdobywanie doświadczenia.<br/>
    2. Sprzęt sportowy do walki podczas zawodów (rękawice, kaski).<br/>
    3. Promocje medialną.<br/>
    4. Nagrody (puchary, dyplomy)<br/>
    5. Ranking.<br/>
    <br/>
        Regulamin imprez pod nazwą Kurpiowska Kuźnia Mistrzów "KKM".<br/>
        Zapisy : https://fighterchamp.pl/<br/>
        Pytania dodatkowe: Paweł Deluga (facebook), paweldeluga@o2pl lub tel 509 078 113.<br/>
        <br/>
        WAŻNE!!!<br/>
        Jeśli nie skończyłeś 18 lat pamiętaj, że w dniu zawodów musisz dostarczyć zgodę opiekunów prawnych.<br/>
        <br/>
        Zapraszamy do współpracy z cyklu Kurpiowska Kuźnia Mistrzów "KKM". Planujemy eventy w formułach: Pięściarstwo, MMA,
        MuayThai i K1 – Pro Am, Karate Kyokushin, BJJ.<br/>
        <br/>
        ZGŁOSZENIE<br/>
        Głównym Celem Federacji KKM jest poprawa Waszych umiejętności i zdobywania doświadczenia na ringu oraz wychowywanie
        zawodników. Kreowanie ich jako marki sportowej.<br/>
        Sparingi rozegramy z podziałem na trzy stopnie doświadczenia A - duże(16 walk i więcej), B - średnie (od 6 do 15
        walk), C – małe(0-5 walki, Debiuty). Staramy się zdobywać informacje o zawodniku odnośnie czasu trenowania,
        osiągnięcia, bilans walk, wzrost, wiek zawodnika a nawet styl walki w celu optymalnego dobrania par i bezpieczeństwa
        na imprezie.(te wszystkie informacje zbieramy od zawodników, trenerów lub innych osób reprezentujących zawodnika i
        to oni są odpowiedzialni za ewentualne niewłaściwe zestawienie par. Przed zestawieniem eventu organizator zawsze
        konsultuje telefonicznie ze stronami zainteresowanymi w danym sparingu.<br/>
        <br/>
        Liczba walk ograniczona: tylko 30 pierwszych zestawionych sparingów, czas rejestracji zawodników i rozstawiania walk
        na tydzień przed imprezą<br/>
        <br/>
        REGULAMIN KKM<br/>
        <br/>
        Ilość rund,czas rund i rękawice do uzgodnienia miedzy trenerami , zawodnikami i organizatorem zgodnie z regulaminem KKM.<br/>
        <br/>
        Możliwość modyfikowania zasad walk seniorów ale tylko za zgodą i wolą obu Zawodników i ich Trenerów oraz
        poinformowania wcześniej o takich zmianach Organizatora.<br/>
        Odpowiedzialność za zmiany ponoszą sami Trenerzy i Zawodnicy w przypadku nie przewidzianych konsekwencji.<br/>
        Zmiany mogą odbywać się tylko i wyłącznie według regulaminów i zasad Światowych i Krajowych Związków lub Federacji
        Sportowych (Danych dyscyplin sportów walki).<br/>
        <br/>
        Walki odbywać się będą w formułach amatorskich np K1 pro am. Obowiązują ochraniacze czyli:<br/>
        <br/>

        Pięściarstwo: rękawice (10-12 oz do wagi 69kg i 12-14 oz powyżej 69 kg), owijki na ręce, kaski (dla juniorów nie
        skończone 18 lat w dniu zawodów), szczęka, suspensor, czas walki 3x2min lub 3x3min.<br/>
        <br/>
    K1- Pro am (bez kolan na głowę, jedno kolano na tułów w akcji): rękawice (10-12 oz do wagi 69kg i 12-14 oz powyżej 69 kg),
    kaski (nie skończone 18 lat w dniu zawodów), owijki, suspensor,  szczęka, ochraniacze piszczeli, (sparing bez koszulki), czas walki 3x2min lub 3x3min..<br/>
        <br/>
    Muay Thai - Pro am (bez kolan i łokci na głowe, dowolna ilość kolan na tułów w akcji): rękawice  (10-12 oz do wagi 69kg i 12-14 oz powyżej 69 kg),
    kaski (nie skończone 18 lat w dniu  zawodów), owijki, suspensor, ochraniacze piszczeli, szczęka, czas walki 3x2min lub 3x3min..<br/>
        <br/>
    MMA – Amatorskie: rekawice do MMA, szczęka, suspensor, ochraniacze piszczeli, (sparing bez  koszulki), czas walki 3x2min lub 3x3min.<br/>
        <br/>
    Karate Kyokushin - K2M : szczęka, ochraniacze piszczeli, suspensor, pełne kimono, kaski -(nie  skończone 18 lat w dniu zawodów),
    2x2min (punktowana każda runda wygrany –  przegrany w przypadku remisu dogrywka trzecia runda 1.5 min)<br/>
        <br/>
        BJJ :1 runda 4-5 min, GI lub NO GI, szczęka.<br>
        Wszystkie sparingi będą sędziowane przez uprawnionych arbitrów. Będą wydawane werdykty.<br/>
        Organizator Zapewnia zabezpieczenie Medyczne Gali. Wyjścia przy muzyce. Oprawę w postaci: Konferansjera, Ring Girl
        KKM , Świateł, Muzyki, Profesjonalny ring według wymogów AIBA, nagrania z walk.<br/>
        <br/>
        F I N A N S E<br/>
        <br/>
        Wszyscy uczestnicy otrzymają pamiątkowe dyplomy oraz inne upominki.<br/>
        <br/>
        Wpisowe: 0 zł.<br/>
        Zawodnik i Trener po zestawieniu sparingu, powinni zachować się profesjonalnie względem przeciwnika i organizatora i
        zrobić wszystko ze swojej strony żeby do tego sparingu doszło.<br/>
        <br/>
        Waga zawodników: obowiązują kategorie wagowe wg standardów danych dyscyplin lub ustalanie limitów umownych za zgodą
        obu drużyn(trener, zawodnik). Dopuszczalna tolerancja 1 kg.<br/>
        Sprawy organizacyjne typu ważenie, start itd. podane będą na tydzień przed Ligą Kurpiowska Kuźnią Mistrzów.<br/>
        <br/>
        Zgłoszenia : https://fighterchamp.pl/<br/>
        Pytania: paweldeluga@o2.pl lub tel 509 078 113<br/>
        Paweł Deluga​<br/>
        <br/>
</div>