{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}

		<address class="text-center col-xs-12">
		  Administrator Systemu FighterChamp.pl <br>
		  Sławomir Grochowski slawomir.grochowski@gmail.com
		</address>
		
        </div>
    </div>

{% endblock %}

 {% block javascripts %}

 {% endblock %}
