{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    Testowo dodałem punktację:
                    <ul>
                        <li>Punktacja nr.1 => wygrana = +3, remis = +1 przegrana = 0</li>
                        <li>Punktacja nr.2 => wynik z Punktacji nr.1 / liczba walk (liczone dopiero kiedy klub ma conajmniej 3 walki)</li>
                    </ul>
                    Co o tym sądzisz? Może masz pomysł jak zrobić to lepiej? => zostaw swój komentarz w dziale <a href="{{ path('view_ideas')}}">Pomysły</a>
                </div><br>
                <a href="{{ path('view_club_create') }}" class="btn btn-success center">Dodaj nowy lub edytuj istniejący klub</a>
                <table id="table-clubs" class="table">
                    <thead>
                    <tr>
                       <th></th>
                        <th>Nazwa</th>
                        <th>Miasto</th>
                        <th>Dyscypliny</th>
                        <th>Rekord Zawodników</th>
                        <th>Liczba Zawodników</th>
                        <th>Punktacja nr.1</th>
                        <th>Punktacja nr.2</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function(){
        var t = $('#table-clubs').DataTable({
            "ajax": "{{ path('api_club_list')}}",
            "columns": [
                { data : null },
                { mData : function (data){
                        return "<a href='"+ data.href +"'>" + data.name +"</a>";
                    }},
                { mData : function (data){
                        return data.city
                    }},
                { mData : function (data){
                        return data.disciplines
                    }},
                { mData: function (data) {
                        return recordClub(data.win,data.draw,data.lose);
                    }},
                { mData : function (data){
                        return data.user_count
                    }},
                { mData : function (data){
                        return (data.win * 3 + parseFloat(data.draw))
                    }},
                { mData : function (data){

                        var number_of_fights = (parseFloat(data.win) + parseFloat(data.draw) + parseFloat(data.lose));
                        var result = (data.win * 3 + parseFloat(data.draw)) / number_of_fights;

                        if(number_of_fights < 3 ){
                            result = 0;
                        }

                        return (result || 0).toFixed(2);
                    }}
            ],
            "columnDefs": [
                {
                    "targets": [2, 3],
                    "className": "text-center"
                }],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Polish.json"
            },
            "bPaginate": false,
            "dom": 'lifrtp'
        });

        t.on( 'order.dt search.dt', function () {
            t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                cell.innerHTML = i+1;
            } );
        } ).draw();
    });

    function recordClub(win, draw, lose) {
        return  '<span style="color: #5cb85c">' + win  + '</span> '+
            '<span style="color: #f0ad4e">' + draw + '</span> '+
            '<span style="color: #d9534f">' + lose + '</span>'
    }

</script>
{% endblock %}
