{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <h1>Dodaj turniej</h1>
            {% include 'tournament/form/create.twig' %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
 {{ parent() }}
<script>
    $('.select2').select2({tags: true});

    $('.select2-disciplines').select2({
        tags: true,
        tokenSeparators: [',']
    });

    $(".select2").change(function () {

        var option = parseInt(document.getElementById('club_create_name').value);

        if(Number.isInteger(option)){
            window.location.href = Routing.generate('view_club_update', {id: option});
        }
    });
</script>
{% endblock %}

