{% extends 'base.html.twig' %}
{% block body %}

    {% include tournament.editable ? 'tournament/_parts/added_by_user__panel.twig' : 'tournament/_parts/_panel.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <table id="table-fights" class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>
                            Zawodnik 1 <br>
                            <span class="label label-danger">Narożnik Czerwony</span>
                        </th>
                        <th>
                            Zawodnik 2 <br>
                            <span class="label label-primary">Narożnik Niebieski</span>
                        </th>
                        <th>Płeć</th>
                        <th>Klasa</th>
                        <th>Kat. Wagowa</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/fight_table.js') }}"></script>
    <script>
        $(document).ready(function () {
            var t = $('#table-fights').DataTable({
                "ajax": "{{ path('api_tournament_fight_list', {id: tournament.id}) }}",
                "columns": [
                    {data: null},
                    {
                        mData: function (data) {
                            var temp = (data.youtubeId === null) ? '' : " <img class='youtube-icon' src='{{ asset('img/YouTube-icon-full_color.png') }}'></a>";

                            return "<a href='" + data.href + "'>Szczegóły</a>" + temp + "<br>" + data.description;
                        }
                    },
                    {
                        mData: function (data) {

                            return record(data.usersFight[0].user) + '<br>' +
                                "<a href='" + data.usersFight[0].user.href + "'>" + data.usersFight[0].user.surname + ' ' + data.usersFight[0].user.name + '</a> ' +
                                fightResult(data.usersFight[0]) + club(data.usersFight[0].user) + '<br>' + age(data.usersFight[0].user)
                                ;
                        }
                    },
                    {
                        mData: function (data) {

                            return record(data.usersFight[1].user) + '<br>' +
                                "<a href='" + data.usersFight[1].user.href + "'>" + data.usersFight[1].user.surname + ' ' + data.usersFight[1].user.name + '</a> ' +
                                fightResult(data.usersFight[1]) + club(data.usersFight[1].user) + '<br>' + age(data.usersFight[1].user)
                                ;
                        }
                    },
                    {
                        mData: function (data) {
                            return data.usersFight[1].user.male ? 'M' : 'K';
                        }
                    },
                    {
                        mData: function (data) {
                            return data.formula;
                        }
                    },
                    {
                        mData: function (data) {
                            return data.weight;
                        }
                    }
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Polish.json"
                },
                "bPaginate": false,
                "dom": 'lifrtp'
            });

            t.on('order.dt search.dt', function () {
                t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
    </script>
{% endblock %}
