{#<div class="container">#}

    <button style="float: left" type="button" class="btn btn-default" data-toggle="modal" data-target="#modalDeleteAccount">Skasuj moje konto</button>

    <!-- Modal -->
    <div class="modal fade" id="modalDeleteAccount" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Kasowanie konta</h4>
                </div>
                <div class="modal-body">
                    Twoje konto oraz wszystkie twoje dane zostaną bezpowrotnie usunięte. <br> <br>
                    Jeśli conajmniej raz wysłałeś zgłoszenie na turniej albo masz jedną walkę na koncie to twoje dane zostaną usunięte a imie i nazwisko zostanie zanonimizowane.<br>
                    Np. 'Jan Kowalski' zostanie zamieniony na 'Jan K.'.<br><br>
                    Pamiętaj nie ma możliwości przywrócenie skasowanego konta!
                </div>
                <div class="modal-footer">
                    <button style="float:left" type="button" class="btn btn-danger" data-dismiss="modal">Rozumiem. Skasuj moje konto</button>
                    <button style="float:right" type="button" class="btn btn-success" data-dismiss="modal">Zamknij</button>
                </div>
            </div>

        </div>
    </div>
{#</div>#}