<div class="container">

    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Dane potrzebne do Ubezpieczenia</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Dane potrzebne do Ubezpieczenia</h4>
                    {#<span>Wpisz imię Ojca albo Matki oraz Pesel</span>#}
                </div>
                <div class="modal-body">
                    {#{{ form_row(form.fatherName, {#}
                        {#label: 'Imię Ojca',#}
                    {#}) }}#}
                    {#{{ form_row(form.motherName, {#}
                        {#label: 'Imię Matki'#}
                    {#}) }}#}
                    {{ form_row(form.pesel, {
                        label: 'PESEL'
                    }) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                </div>
            </div>

        </div>
    </div>
</div>