<div class="col-xs-12  col-md-10 col-md-offset-1">
    <h2>Ochrona danych osobowych</h2>
    <ol>
        <li>Dane osobowe zawodników będą przetwarzane w celach organizacji i promocji imprez Organizatora, wyłonienia
            zwycięzców oraz przyznania i wydania nagród.</li>
        <li>Dane osobowe uczestników będą przetwarzane zgodnie z obowiązującymi przepisami, w szczególności z Ustawą
            z 29 sierpnia 1997r. o Ochronie Danych Osobowych (Dz.U. z 2014r. poz. 1182 i 1662 oraz 2015r. poz. 1309).</li>
        <li>Przetwarzanie i wykorzystanie danych, o którym mowa w punkcie 9. obejmuje również publikację: imienia,
            nazwiska, roku urodzenia i nazwy klubu.</li>
        <li>Uczestnik przyjmuje do wiadomości, że przysługuje mu prawo wglądu do treści jego danych oraz ich poprawiania.</li>
        <li>Podanie danych osobowych oraz wyrażenie zgody na ich przetwarzanie jest dobrowolne, lecz niezbędne do
            udział w turnieju.</li>
        <li>Uczestnik wyraża zgodę na utrwalenie i wykorzystanie swojego wizerunku na nośniku cyfrowym w postaci zdjęć
            lub filmów. Materiały te wykorzystywane będą do celów szkoleniowych, promocyjnych i marketingowych.</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            Do pobrania:
        </div>
        <div class="panel-body">
            <a href="{{ asset('documents/oświadczenie-Granda-dziecko.docx') }}">oświadczenie dla opiekunów prawnych zawodników niepełnoletnich</a><br>
            <a href="{{ asset('documents/oświadczenie-Granda-kobiety.docx') }}"> oświadczenie dla kobiet</a><br>
            <a href="{{ asset('documents/oświadczenie-Granda.docx') }}"> oświadczenie dla mężczyzn</a><br>
        </div>
    </div>
</div>