<div class="col-xs-12  col-md-10 col-md-offset-1">
    <h2>Podział zawodników</h2>
    Zawodnicy będą dobierani według płci, wieku, stopnia zaawansowania i wagi.<br><br>

    Kategorie wiekowe:<br>
    <ul>
        <li>adepci (13 lat)</li>
        <li>młodzicy (14 lat)</li>
        <li>kadeci i kadetki (15 - 16 lat)</li>
        <li>juniorzy i juniorki (17 - 18 lat)</li>
        <li>młodzieżowcy (19 - 23 lat)</li>
        <li>seniorzy i seniorki (23+ lat)</li>
    </ul>

    Klasy zawodników wg. stopnia zaawansowania:<br>
    <ul>
        <li>A – zawodnicy z występami na zawodach rangi Mistrzostw Polski lub aspirujący do nich. Conajmniej kilkanaście występów amatorskich. Prezentujący wysokie wyszkolenie techniczne i motoryczne. W klasie tej na odpowiedzialność trenera wystąpić może zawodnik z klasy B.</li>
        <li>B – zawodnicy średniej klasy. 3 lub więcej pojedynków amatorskich bez występów na zawodach ogólnopolskich. W klasie tej na odpowiedzialność trenera wystąpić może zawodnik z klasy C.</li>
        <li>C – osoby początkujące i trenujące rekreacyjnie. Góra kilka walk amatorskich. Dodatkowo uwzględniamy w zgłoszeniu staż treningowy.</li>
    </ul>

    <p>UWAGA na wadze jest kilogram tolerancji!</p>
    <p>Kategorie wagowe:</p>
    <table class="table table-condensed table-striped text-center">
        <tbody><tr>
            <th class="text-center">Mężczyźni (juniorzy, młodzieżowcy i seniorzy) [kg]</th>
            <th class="text-center">Mężczyźni i Kobiety (kadeci/kadetki, młodzicy, adepci) [kg]</th>
            <th class="text-center">Kobiety (juniorki, młodzieżowcy i seniorki) [kg]</th>
        </tr>
        <tr>
            <td></td>
            <td>38,5</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>40</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>41,5</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>43</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>44</td>
            <td></td>
        </tr>
        <tr>
            <td>46</td>
            <td>46</td>
            <td>48</td>
        </tr>
        <tr>
            <td>49</td>
            <td>48</td>
            <td>51</td>
        </tr>
        <tr>
            <td>52</td>
            <td>50</td>
            <td>54</td>
        </tr>
        <tr>
            <td>56</td>
            <td>52</td>
            <td>57</td>
        </tr>
        <tr>
            <td>60</td>
            <td>54</td>
            <td>60</td>
        </tr>
        <tr>
            <td>64</td>
            <td>57</td>
            <td>64</td>
        </tr>
        <tr>
            <td>69</td>
            <td>60</td>
            <td>69</td>
        </tr>
        <tr>
            <td>75</td>
            <td>63</td>
            <td>75</td>
        </tr>
        <tr>
            <td>81</td>
            <td>66</td>
            <td>80</td>
        </tr>
        <tr>
            <td>91</td>
            <td>70</td>
            <td>80+</td>
        </tr>
        <tr>
            <td>91+</td>
            <td>75</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>80</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>80+</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody></table>
</div>