{% extends 'base.html.twig' %}

{% block title %} {{ user.name }} {{ user.surname }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
          {% include '_messages/success.html.twig' %}


            {% if user.fights|length > 0  and user.fighters|length > 0 %}

                <div class="col-xs-12">
                    {% include 'user/fighter/_profile.html.twig' %}
                </div>

                    <div class="col-xs-12 col-sm-6">
                        {% include ':user/fighter:_record_table.html.twig' %}
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        {% include ':user/coach:_coach_fighters.html.twig' %}
                    </div>

            {% endif %}

            {% if user.fights|length > 0 and user.fighters is empty %}

                <div class="col-xs-12 col-sm-6">
                    {% include 'user/fighter/_profile.html.twig' %}
                </div>

                <div class="col-xs-12 col-sm-6">
                    {% include ':user/fighter:_record_table.html.twig' %}
                </div>

            {% endif %}

            {% if user.fights is empty and user.fighters|length > 0 %}

                <div class="col-xs-12 col-sm-6">
                    {% include 'user/fighter/_profile.html.twig' %}
                </div>

                <div class="col-xs-12 col-sm-6">
                    {% include ':user/coach:_coach_fighters.html.twig' %}
                </div>

            {% endif %}

            {% if user.fights is empty  and user.fighters is empty %}

                <div class="col-xs-12 col-sm-6">
                    {% include 'user/fighter/_profile.html.twig' %}
                </div>

                <h4 class="text-center">Brak przypisanych zawodników</h4>

            {% endif %}




        </div>

    </div>
{% endblock %}
