{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3 user-type">
            {% include '_parts/choose-user.html.twig' %}
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table id="table-users" class="table"></table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

            $(".radio-inline").change(function () {
                insertForm($('input:radio:checked').val());
            });
            $("input:radio:first").prop("checked", true).trigger("change");
        });

        function insertForm(type) {

            if ($.fn.DataTable.isDataTable('#table-users')) {
                $('#table-users').DataTable().destroy();
                $('#table-users').empty();
            }
            ;

            if (type == 1) {

                var columns = [
                    {data: null},
                    {
                        title: 'Imię i Nazwisko',
                        mData: function (data) {
                            return "<a href='" + data.href + "'>" + data.name + ' ' + data.surname + "</a>";
                        }
                    },
                    {
                        title: 'Rekord',
                        mData: function (data) {
                            return '<span style="color: #5cb85c">' + data.win + '</span> ' +
                                '<span style="color: #f0ad4e">' + data.draw + '</span> ' +
                                '<span style="color: #d9534f">' + data.lose + '</span>'
                        }
                    },
                    {
                        title: 'Płeć',
                        mData: function (data) {
                            return data.sex;
                        }
                    },
                    {
                        title: 'Wiek',
                        mData: function (data) {
                            return data.age;
                        }
                    },
                    {
                        title: 'Klub',
                        mData: function (data) {
                            if (data.club_name) {
                                return "<a href='" + data.club_href + "'>" + data.club_name + "</a>";
                            }
                            else return '';
                        }
                    }
                ];

                var columnDefs = [
                    {
                        "targets": [2, 3, 4, 5],
                        "className": "text-center"
                    }];

            } else if(type == 2) {

                var columns = [
                    {data: null},
                    {
                        title: 'Imię i Nazwisko',
                        mData: function (data) {
                            return "<a href='" + data.href + "'>" + data.name + ' ' + data.surname + "</a>";
                        }
                    },
                    {
                        title: 'Rekord Zawodników',
                        mData: function (data) {
                            return '<span style="color: #5cb85c">' + data.fightersRecord.win + '</span> ' +
                                '<span style="color: #f0ad4e">' + data.fightersRecord.draw + '</span> ' +
                                '<span style="color: #d9534f">' + data.fightersRecord.lose + '</span>'
                        }
                    },
                    {
                        title: 'l. Zawodników',
                        mData: function (data) {
                            return data.fighters.length;
                        }
                    },
                    {
                        title: 'Płeć',
                        mData: function (data) {
                            return data.male? 'M' : 'K';
                        }
                    },
                    {
                        title: 'Klub',
                        mData: function (data) {
                            if (data.club) {
                                return "<a href='" + data.club.href + "'>" + data.club.name + "</a>";
                            }
                            else return '';
                        }
                    }
                ];

                var columnDefs = [
                    {
                        "targets": [2, 3, 4],
                        "className": "text-center"
                    }];

            }else if(type == 3){
                var columns = [

                    {data: null},
                    {
                        title: 'Imię i Nazwisko',
                        mData: function (data) {
                            return "<a href='" + data.href + "'>" + data.name + ' ' + data.surname + "</a>";
                        }
                    },
                    {
                        title: 'Klub',
                        mData: function (data) {
                            if (data.club) {
                                return "<a href='" + data.club.href + "'>" + data.club.name + "</a>";
                            }
                            else return '';
                        }
                    }
                ];

                var columnDefs = [
                    {
                        "targets": [2],
                        "className": "text-center"
                    }];
            }



            var t = $('#table-users').DataTable({
                "destroy": true,
                "ajax": {
                    "url": "{{ path('api_user_list') }}",
                    "type": "GET",
                    "data": {type: type}
                },

                'columnDefs': columnDefs,
                "columns": columns,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Polish.json"
                },
                "bPaginate": false,
                "dom": 'lifrtp'
            });


            t.on('order.dt search.dt', function () {
                t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

        }

        function age(user) {
            if (user.birthDay === null) {
                return '';
            }

            return new Date(new Date - new Date(user.birthDay.date)).getFullYear() - 1970;
        }


    </script>
{% endblock %}