<table class="table table-bordered">
    <thead>
    <tr>
        <th></th>
        <th>Pełnoletni</th>
        <th>Niepełnoletni</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>badania</td>
        <td>zaświadczenie lekarskie (może być od lekarza pierwszego kontaktu),
            że nie ma przeciwskazań do uprawiania dyscypliny jaką jest boks
            albo badania sportowo - lekarskie</td>
        <td>badania sportowo - lekarskie</td>
    </tr>
    <tr>
        <td>oświadczenie</td>
        <td>
            <a href="{{ asset('documents/kuznia/oświadczenie-zawodnika-dorosły.doc') }}"> oświadczenie </a>
        </td>
        <td>
            <a href="{{ asset('documents/kuznia/Oświadczenie-opiekuna-prawnego-KKM-nieletni.docx') }}">
                oświadczenie podpisane przez prawnego opiekuna</a>
        </td>
    </tr>
    <tr>
        <td>wpisowe</td>
        <td> {{ (tournament.ticketFighterAdult ? tournament.ticketFighterAdult.price)|raw }} 0 zł</td>
        <td> {{ tournament.ticketFighterChild ? tournament.ticketFighterChild.price }} 0 zł</td>
    </tr>
    </tbody>
</table>
