<span>Każdy uczestnik otrzymuję pamiątkowy dyplom oraz medal</span>
<ul>
    {% for award in tournament.awards %}
        <li>{{ award.name }}
            {% if award.userFight %} - <a
                    href="{{ path('view_user_show', {'id': award.userFight.user. id}) }}">{{ award.userFight.user }}</a> {% endif %}
        </li>
    {% endfor %}
</ul>