<span> Licencja PZB </span>
<ul>
    <li> seniorzy i juniorzy - 3 rundy po 3 minuty </li>
    <li> kadeci - 3 rundy po 2 minuty </li>
</ul>

<span> Bez licencji </span>
<ul>

    <li>klasa A - 3 rundy po 3 minuty</li>
    <li>klasa C i B - 3 rundy po 2 minuty</li>

</ul>