<li>zawodnik musi zapewnić sobie:
    <ul>
        <li>sportowe buty i strój</li>
        <li>ochraniacz na zęby</li>
        <li>ochraniacz na krocze</li>
        <li>bandaże na ręce</li>
    </ul>
</li>

<span> Licencja PZB </span> <br>
Sprzęt musi posiadać atest AIBA (tzn. hologram). Prosimy zawodników i kluby by najlepiej posiadały ten sprzęt.

<ul>

    <li> seniorzy bez kasków</li>
    <li> kadeci i juniorzy w kaskach </li>
    <li> rękawice - waga do 69kg włącznie 10oz, powyżej 69kg 12oz</li>

</ul>

<span> Bez licencji PZB </span>
<ul>

    <li>klasa A - obaj zawodnicy bez kasków</li>
    <li>klasa B - do ustalenia z przeciwnikiem (nie może jeden walczyć w kasku drugi bez)</li>
    <li>klasa C - obaj zawodnicy w kaskach</li>
    <li>juniorzy (tzn. do 18 lat) i kobiety w kasku</li>
    <li>rękawice i kaski są zapewnione przez organizatora, nie można walczyć we własnym sprzęcie</li>
    <li>rękawice - waga do 69kg włącznie 12oz, powyżej 69kg 14oz </li>

    </li>
</ul>